@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.botao {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.botao * {
  box-sizing: border-box;
}
.botao li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.botao a {
  padding: 0.5em 0;
  color: black;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.botao a:before,
.botao a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.botao a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: red;
}
.botao a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: black;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.botao a:hover:before,
.botao .current a:before {
  opacity: 1;
  width: 100%;
}
.botao a:hover:after,
.botao .current a:after {
  max-width: 100%;
}

@media screen and (max-width: 768px){

    .vestidos {
      display: none;
      max-width: 100%;
    }
}


@media screen and (min-width: 769px){

    .vestido-sm {
      display: none;
      max-width: 100%;

    }
}
